<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, atque. Nihil officia dolore voluptates dolor. Distinctio, dignissimos. Obcaecati, deleniti impedit!
        </p>
    </div>
</section>