<div class="jumbotron mt-4">
        <h1 class="display-4">Notes App  Nodejs and Mongodb</h1>

        <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iure porro, atque pariatur ipsam perferendis alias ullam,
                id, nesciunt suscipit eligendi fugiat a quam. Quaerat non suscipit itaque nemo ipsa?
                <hr class="my-4">
               <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, reprehenderit odit. Deserunt veritatis, unde sapiente ratione laboriosam neque nulla quidem.
               </p> 

               <a href="https://www.faztweb.com" class="btn btn-primary"> FaztWeb</a>
        </p>
</div>


